<div class="tags-container">
  <% @tags.each do |tag| %>
    <%= render 'tags/tag', {tag: tag} %>
  <% end %>
</div>

<p>
<img class="painting" src="<%= @painting.url %>" alt="A Storm in the Rocky Mountains, Mt. Rosalie by
Albert Bierstad">
</p>

<%= render 'tags/form', painting_id: @painting.id %>

