body {
  background-color: #FAF0E6;
  font-family: "Georgia", serif;
}

.header {
  margin-left: 30px;
}

IMG.painting {
  width: 50%;
  border-style: solid;
  border-color: #C0C0C0;
  border-width: 7px;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 10px;
}

figcaption{
  margin-left: 20px;
  font-style: italic;
}

.description {
  float: right;
  width: 40%;
  margin-right: 50px;
  font-size: 95%
}

.tag-form {
  margin-left: 100px;
}

input[type=text] {
    padding: 5px; 
    border: 2px solid #4169E1; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


input[type=submit] {
    font-family: "Courier New", monospace;
    font-size: 85%;
    padding: 5px; 
    margin-right: 8px;
    background: #4169E1; 
    color: white;
    border: 2px solid #4169E1;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.tags-container {
  margin-left: 25%;
  margin-right: 5%
}

.tags-container li {
  font-family: "Courier New", monospace;
  display: inline-block;
  border: 1px solid black;
  background-color: #66CDAA;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin-bottom: 3px;
  margin-right: 3px;
}

#tag_errors {
  color: crimson;
}

