IMG.painting {
    padding: 10px;
    }

.tags-container {
  float: right;
  margin-right: 10px;
  }

.single-tag {
  border: 1px dotted black;
  background-color: #66CDAA;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
