body {
  background-color: #FFFACD;
}

IMG.painting {
  width: 50%;
  border-style: solid;
  border-color: #8B4513;
  border-width: 7px;
  margin-top: 20px;
  margin-left: 20px;
}

.tag-form {
  margin-left: 30px;
}

.tags-container {
  float: right;
  width: 40%;
  margin-top: 15%;
  margin-right: 27px;
}

.tags-container li {
  display: inline-block;
  border: 1px dotted black;
  background-color: #66CDAA;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

